/*
    Wira.css
    made by AeronsTek Team
    with BEM
    Licensed with MIT
    2018
    v.1
*/
html, body{
    height: 100%;
    width: 100%;
    margin: 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    color: white;
}
/*Background gradient color presets, you can apply the presets for buttons, body, div,...*/
/*Some presets made with refer from uigradients.com*/
.background--cold{
    background: linear-gradient(to right, #006699, #00d77d);
}
.background--hot{
    background: linear-gradient(to right, #f12711, #f5af19);
}
.background--cold-morning{
    background: linear-gradient(to right, #7f7fd5, #86a8e7 50%, #91eae4);
}
.background--nightly-bar{
    background: linear-gradient(to right, #c31432, #240b36);
}
.background--water-and-fire{
    background: linear-gradient(to right, #659999, #f4791f);
}
.background--summer-beach{
    background: linear-gradient(to right, #a8ff78, #78ffd6);
}
.background--red-wine{
    background: linear-gradient(to right, #ed213a, #93291e);
}
.background--6am{
    background: linear-gradient(to right, #005aa7, #fffde4);
}
.background--summer{
    background: linear-gradient(to right, #22c1c3, #fdbb2d);
}
.background--blue-sky{
    background: linear-gradient(to right, #56ccf2, #2f80ed);
}
.background--atlantic-dreams{
    background: linear-gradient(to right, #34e89e, #0f3443);
}
.background--summer-parties{
    background: linear-gradient(to right, #ee0979, #ff6a00);
}
.background--lemon-icecream{
    background: linear-gradient(to right, #00c3ff, #ffff1c);
}
.background--nightly-frost{
    background: linear-gradient(to right, #000428, #004e92);
}
.background--sweet-morning{
    background: linear-gradient(to right, #ff5f6d, #ffc371);
}
.background--deep-forest{
    background: linear-gradient(to right, #5a3f37, #2c7744);
}
.background--girls-and-boys{
    background: linear-gradient(to right, #fc00ff, #00dbde);
}
/*End of background presets*/
.container--big{
    width: 100%;
    height: 35%;
}
.text-center{
    text-align: center;
}
.btns{
    width: auto;
    height: auto;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1.25em;
    color: white;
    margin: 5px 5px;
}
.btns:hover{
    cursor: pointer;
}
.btns--large{
    width: 16%;
    height: 17%;
}